<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <img class="img-responsive" src="/images/kingdom.png" />
            <h1>
                The Kingdom Of <span data-bind='text: name'>Rename-Me</span> <small>ruled by <span data-bind="text: ruler().name">Change-Me</span></small>
            </h1>
            <label class="pull-right autoSave">
                <input data-bind="click: toggleAutosaveEnable, checked: autosaveEnabled, tooltip: {title: 'Click to disable / enable auto save'}" type="checkbox"> Auto save
            </label>
        </div>

        <span class="clearfix"></span>
        <div id="successMsg" class="alert alert-success alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 id="successMessageTitle">Hey</h4>
            <span id="successMessage" class="message"></span>
        </div>
        <div id="errorMsg" class="alert alert-danger alert-dismissable" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 id="errorMessageTitle">Alert!</h4>
            <span id="errorMessage" class="message"></span>
        </div>
    </div>
</div>
<div class="row topRow clearfix">
    <h4>Basic Resources</h4>
    <div class="col-md-6 column">
        <ul class="nav nav-pills resource-pills" data-bind="foreach: resources()">
            <!-- ko if: !isSpecialized() -->
            <li style="text-align: center">
                <a href="#" data-bind="tooltip: {title: 'Collection rate per second: ' + formattedCollectionRate()}"> <span class="badge pull-right" data-bind="text: formattedAmount">2000</span> total <span data-bind="text: name"></span></a>
                <h6>(max storage <span data-bind="text: maxStorage"></span>)</h6>
                <h6 data-bind="text: formattedCollectionRate() + ' / sec', style: { color: collectionRate() < 0 ? 'red' : 'black' }">.2 / sec</h6>
            </li>
            <!-- /ko -->
        </ul>

    </div>
    <div class="col-md-6 column">
        <p class="tpbutton btn-toolbar">
            <button type="button" class="btn btn-default" data-bind="click: mineOre"><img src="/images/mine.png" /> Mine Ore</button>
            <button type="button" class="btn btn-default" data-bind="click: gatherFood"><img src="/images/food.png" /> Gather Food</button>
            <button type="button" class="btn btn-default" data-bind="click: harvestWood"><img src="/images/wood.png" /> Harvest Wood</button>
        </p>

    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
        <div class="list-group">
            <div class="list-group-item resourcesHeader">Specialized Resources</div>
            <!-- ko foreach: resources() -->
            <!-- ko if: isSpecialized() -->
            <div class="list-group-item">
                <span data-bind="text: name, tooltip: {title: 'Collection rate per second: ' + formattedCollectionRate()}">Gold</span>
                <!-- ko if: type == 'gold' -->
                <img src="/images/gold.png" style="width: 20px" />
                <!-- /ko -->
                <!-- ko if: type == 'iron' -->
                <img src="/images/iron.png" style="width: 20px" />
                <!-- /ko -->
                <span data-bind="text: formattedAmount" class="badge">14</span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                Game Events
            </div>
            <div class="panel-body">

                <table class="table">
                    <tbody data-bind="foreach: gameEvents()">
                    <tr>
                        <td><samp data-bind="text: timestamp"></samp></td>
                        <td><samp data-bind="text: message() + ' - (' + quantity() + 'x)'"></samp></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-4 column">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Population <span data-bind="text: 'Size ( ' + populationSize() + ' / ' + maxPopulation() + ')'" class="pull-right">Max ()</span>
                </h3>
            </div>
            <!-- ko foreach: population() -->
            <!-- ko if: type !== 'worker' -->
            <div class="panel-body">
                <span class="pull-left" data-bind="text: name, tooltip: {title: description}"></span>
                <span class="pull-right">
                    <button data-bind="enable: quantity() >= 100, click: $parent.removeHundredSpecialty, visible: $parent.populationSize() > 100" type="button" class="btn btn-default btn-sm">
                        &minus; All
                    </button>
                    <button data-bind="enable: quantity() >= 100, click: $parent.removeHundredSpecialty, visible: $parent.populationSize() > 100" type="button" class="btn btn-default btn-sm">
                        &minus;100
                    </button>
                    <button data-bind="enable: quantity() >= 10, click: $parent.removeTenSpecialty" type="button" class="btn btn-default btn-sm">
                        &minus;10
                    </button>
                    <button data-bind="enable: quantity() > 0, click: $parent.removeSpecialty" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <span class="quantity" data-bind="text: quantity()"></span>
                    <button data-bind="enable: $parent.workersAvailable() > 0, click: $parent.addSpecialty" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <button data-bind="enable: $parent.workersAvailable() >= 10, click: $parent.addTenSpecialty" type="button" class="btn btn-default btn-sm">
                        +10
                    </button>
                    <button data-bind="enable: $parent.workersAvailable() >= 100, click: $parent.addHundredSpecialty, visible: $parent.populationSize() > 100" type="button" class="btn btn-default btn-sm">
                        +100
                    </button>
                     <button data-bind="enable: $parent.workersAvailable() >= 100, click: $parent.addHundredSpecialty, visible: $parent.populationSize() > 100" type="button" class="btn btn-default btn-sm">
                         + Max
                     </button>
                </span>
            </div>
            <!-- /ko -->
            <!-- /ko -->

            <div class="panel-footer">
                <!-- ko foreach: population() -->
                <!-- ko if: type === 'worker' -->
                <span class="">Workers available: </span>
                <span class="pull-right" data-bind="text: quantity()">0</span>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <div class="workerBuying">
            <div id="worker1">
                <button data-bind="click: createWorker, enable: foodAvailable() >= calculateWorkerCost(1, populationSize())" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Create worker
                </button>
                <span>&nbsp;- Costs <span data-bind="text: calculateWorkerCostPretty(1,populationSize())">1</span> Food</span>
            </div>
            <div id="worker10">
                <button data-bind="click: createTenWorkers, enable: foodAvailable() >= calculateWorkerCost(10, populationSize())" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> 10 workers
                </button>
                <span>&nbsp;- Costs <span data-bind="text: calculateWorkerCostPretty(10,populationSize())">1</span> Food</span>
            </div>
            <div data-bind="visible: populationSize() > 100" id="worker100">
                <button data-bind="click: createHundredWorkers, enable: foodAvailable() >= calculateWorkerCost(100, populationSize())" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> 100 workers
                </button>
                <span>&nbsp;- Costs <span data-bind="text: calculateWorkerCostPretty(100,populationSize())">1</span> Food</span>
            </div>
            <div data-bind="visible: populationSize() > 300" id="worker1000">
                <button data-bind="click: createThousandWorkers, enable: foodAvailable() >= calculateWorkerCost(1000, populationSize())" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> 1000 workers
                </button>
                <span>&nbsp;- Costs <span data-bind="text: calculateWorkerCostPretty(1000,populationSize())">1</span> Food</span>
            </div>
        </div>

    </div>
    <div class="col-md-4 column">
        <div class="tabbable" id="mySkinnedTabWrapper">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-89238" data-toggle="tab">Housing</a>
                </li>
                <li>
                    <a href="#panel-811181" data-toggle="tab">Storage</a>
                </li>
                <li>
                    <a href="#panel-upgrades" data-toggle="tab">Upgrades</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-89238">
                    <div><strong>Available Land:</strong> <span class="badge" data-bind="text: availableLand()"></span>
                    <span> / <strong>Total:</strong> </span><span class="badge" data-bind="text: totalLand"></span>

                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Housing</th>
                            <th>built</th>
                            <th> </th>
                            <th> </th>
                            <th class="text-center">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: buildings() -->
                        <!-- ko if: type === 'housing' -->
                        <tr data-bind="visible: visible()">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: quantity()"></td>
                            <td data-bind="text: description"></td>
                            <td>
                                <button data-bind="click: $parent.buildOneBuilding, enable: $parent.goldAvailable() >= goldCost() && $parent.woodAvailable() >= woodCost() && $parent.stoneAvailable() >= stoneCost()" type="button" class="btn btn-default btn-sm">
                                    Build
                                </button>
                                <button data-bind="click: $parent.buildTenBuildings, enable: $parent.goldAvailable() >= goldCost()*10 && $parent.woodAvailable() >= woodCost()*10 && $parent.stoneAvailable() >= stoneCost()*10" type="button" class="btn btn-default btn-sm">
                                    Build 10
                                </button>
                                <button data-bind="click: $parent.buildHundredBuildings, enable: $parent.goldAvailable() >= goldCost()*100 && $parent.woodAvailable() >= woodCost()*100 && $parent.stoneAvailable() >= stoneCost()*100" type="button" class="btn btn-default btn-sm">
                                    Build 100
                                </button>
                            </td>
                            <td data-bind="text: costDescription"></td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="panel-811181">
                    <div><strong>Available Land:</strong> <span class="badge" data-bind="text: availableLand"></span>
                        <span> / <strong>Total:</strong> </span><span class="badge" data-bind="text: totalLand"></span>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Storage</th>
                            <th>built</th>
                            <th> </th>
                            <th> </th>
                            <th class="text-center">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: buildings() -->
                        <!-- ko if: type === 'storage' -->
                        <tr data-bind="visible: visible()">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: quantity()"></td>
                            <td data-bind="text: description"></td>
                            <td>
                                <button data-bind="click: $parent.buildOneBuilding, enable: $parent.goldAvailable() >= goldCost() && $parent.woodAvailable() >= woodCost() && $parent.stoneAvailable() >= stoneCost()" type="button" class="btn btn-default btn-sm">
                                    Build
                                </button>
                                <button data-bind="click: $parent.buildTenBuildings, enable: $parent.goldAvailable() >= goldCost()*10 && $parent.woodAvailable() >= woodCost()*10 && $parent.stoneAvailable() >= stoneCost()*10" type="button" class="btn btn-default btn-sm">
                                    Build 10
                                </button>
                                <button data-bind="click: $parent.buildHundredBuildings, enable: $parent.goldAvailable() >= goldCost()*100 && $parent.woodAvailable() >= woodCost()*100 && $parent.stoneAvailable() >= stoneCost()*100" type="button" class="btn btn-default btn-sm">
                                    Build 100
                                </button>
                            </td>
                            <td data-bind="text: costDescription"></td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="panel-upgrades">
                    <p><strong>Upgrades:</strong></p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th class="text-center">Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ko foreach: upgrades() -->
                        <tr data-bind="visible: visible()">
                            <td data-bind="text: name"></td>
                            <td data-bind="text: description"></td>
                            <td>
                                <button data-bind="click: $parent.researchUpgrade, enable: $parent.goldAvailable() >= goldCost() && $parent.woodAvailable() >= woodCost() && $parent.stoneAvailable() >= stoneCost() && $parent.ironAvailable() >= ironCost()" type="button" class="btn btn-default btn-sm">
                                    Research
                                </button>
                            </td>
                            <td data-bind="text: costDescription"></td>
                        </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                        <p><strong>Purchased upgrades: </strong></p>
                        <ul class="list-unstyled" data-bind="foreach: upgrades()">
                            <!-- ko if: researched() -->
                            <li><strong data-bind="text: name"></strong> - <span data-bind="text: description"></span></li>
                            <!-- /ko -->
                        </ul>
                </div>
            </div>
        </div>
    </div>

</div>